<!doctype html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

    <div class="footer_container">
        <div class="wrapper">
            <div class="title_footer_container">
                <h1>Contact us</h1>
            </div>
            <div class="info_footer_container">
                <div class="email_block_info_footer">
                    <img src="{% static 'main/img/email-icon.png' %}" alt="">
                    <p>womensdiary@gmail.com</p>
                </div>
                <div class="social_media_block_info_footer">
                    <a href="" class="telegram_icon_footer_block">
                        <img src="{% static 'main/img/telegram-icon.png' %}" alt="">
                    </a>
                    <a href="" class="whatsapp_icon_footer_block">
                        <img src="{% static 'main/img/whatsapp-icon.png' %}" alt="">
                    </a>
                    <a href="" class="instagram_icon_footer_block">
                        <img src="{% static 'main/img/instagram-icon.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>