<!doctype html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/tests-detail.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Women's Diary - {{ test.title }}</title>
</head>
<body>

    <header>
        {% include 'main/header.html' %}
    </header>

    <section>
        <div class="wrapper">
            <div class="section_container">
                <div class="image_block_background_test_data">
                    <div class="image_block_test_data" style="background-image: url('{{ test.image.url }}')"></div>
                </div>
                <div class="main_info_block_test_data">
                    <h1>{{ test.title }}</h1>
                    <p>{{ test.description }}</p>
                    <a href="">Pass the test</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        {% include 'main/footer.html' %}
    </footer>

</body>
</html>