<!doctype html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/tests.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Women's Diary - Tests page</title>
</head>
<body>
    <header>
        {% include 'main/header.html' %}
    </header>

    <section>
        <div class="section_container">

            <div class="main_maket_block_section_container" style="background-image: url({% static 'main/img/tests.png' %})">
                <div class="wrapper">
                    <div class="title_main_maket_block">
                        <h1>Here <span style="color: #A46A90;">psychological</span></h1>
                        <p>tests for you</p>
                    </div>
                </div>
                {% for message in messages %}
                    <div class="successfully_test_completed_block">
                        <h1>{{ message }}</h1>
                        <span id="ok">Ok</span>
                    </div>
                {% endfor %}
            </div>

            <div class="wrapper">
                <div class="main_tests_data_container">
                    {% for test in tests %}
                        <div class="main_test_data_block">
                            <div class="image_block_test_data" style="background-image: url({{ test.image.url }})"></div>
                            <div class="title_block_test_data">
                                <h1>{{ test.title }}</h1>
                            </div>
                            <a href="{% url 'tests-detail' test.id %}" class="pass_block_test_data">
                                Pass the test
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

    <footer>
        {% include 'main/footer.html' %}
    </footer>

    <script>
        document.getElementById('ok').addEventListener('click', () => {
            document.querySelector('.successfully_test_completed_block').style.display = 'none';
        })
    </script>

</body>
</html>